/* Styles for the mobile dropdown About page
**/

// Hide the stuff
.fa-home,
.show-mobile-dropscreen,
.mobile-dropscreen-check,
.drop-screen {
  display: none;
}

@media (max-width: 600px) {
  // Hide the nav
  .header-nav {
    display: none;
  }

  // The HOME icon thingy
  .fa-home {
    color: $grey-color-light;
    display: inline-block;
    float: left;
    padding: 0.5em;

    &:hover {
      color: $text-color;
    }
  }

  // The ABOUT button
  .show-mobile-dropscreen {
    color: $base-color;
    display: inline-block;
    font-weight: 700;
    margin-left: 50vw;
    padding: 1em 2em 1em 0;
    position: absolute;
    text-transform: uppercase;
  }

  // The dropscreen that shows
  .drop-screen {
    background-color: rgba(130, 130, 130, 0.97);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: $background-color;
    height: 100vh;
    overflow: hidden;
    padding: 5em 2em;
    position: relative;
    text-align: center;
    width: 100vw;
    z-index: 10;
    top: 0;

    // Make the "Hey there..." part bigger
    em {
      font-family: $headings-font-family;
      font-weight: bold;
      font-size: $base-font-size * 2;
    }

    // Social icons margin
    a {
      margin: 2em 0.3em;
      overflow: hidden;

      // Social icons background color
      i {
        background-color: $background-color;
        border-radius: 10%;
        height: 0.8em;
        line-height: 0.8em;
        width: 0.8em;
      }
    }
  }

  // What happens after user taps on ABOUT
  .mobile-dropscreen-check:checked ~ .drop-screen {
    display: block;
  }

  // What happens to ABOUT button after user taps
  .mobile-dropscreen-check:checked ~ .show-mobile-dropscreen:after {
    background-color: $background-color;
    color: $base-color;
    content: "X";
    font-weight: 700;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
  }
}
