/**
 * Styles for the pagination
 */
.pagination {
  //border-top: .5px solid $grey-color-light;
  font-family: $headings-font-family;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    color: $grey-color-light;
    font-size: 1.1rem;
  }
}

.arrow {
  color: $brand-color;
  position: absolute;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}
