---
layout: default
---

<div class="main-cols">

  {% for post in site.posts %}
    <div class="blog-posts">
      <span class="post-date">{{ post.date | date: '%B %Y' }}</span>
      <header class="post-header">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <span class="post-summary">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </span>
    </div>
  {% endfor %}

</div>
