---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

  </div>

  <!-- If needed to display postFooter...
  {% if page.postFooter %}
    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  {% endif %}
  -->

  <div align="center">
    <a href="#" class="fa-arrow">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </div>


</article>

<form method="POST" action="https://api.staticman.net/v2/entry/alisiina/alisiina.github.io/master">
  <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>

  <button type="submit">Submit</button>
</form>
