---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

  </div>

  <!-- If needed to display postFooter...
  {% if page.postFooter %}
    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  {% endif %}
  -->

  <div align="center">
    <a href="#" class="fa-arrow">
      <i class="fas fa-arrow-circle-up fa-3x"></i>
    </a>
  </div>
</article>
